<div class="hero-image">
    <div class="hero-text">
        <h1>BUILD YOUR RESUME</h1>
        <h2>LAUNCH YOUR CAREER</h2>
        <div class="text-center my-3">
            <button class="btn btn-custom">BUILD YOUR RESUME</button>
        </div>
    </div>
</div>

<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card">
        <img src="/images/resume-table.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Revamped Resumes with Ease</h5>
          <p class="card-text">Resume Rocket offers personalized and industry-approved ASCII templates that users can effortlessly tailor to their liking for a standout resume that's sure to impress.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/images/ai-resume.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Boost Your Chances with AI Technology</h5>
          <p class="card-text">Thanks to the power of AI, Resume Rocket generates resumes that align with industry standards to improve your chances of catching the eye of recruiters and hiring managers.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/images/hiring-concept.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Immediate and Insightful Guidance</h5>
          <p class="card-text">Resume Rocket delivers prompt, real-time feedback and analysis throughout the resume-building process, suggesting ways to optimize your resume for maximum effectiveness.</p>
        </div>
      </div>
    </div>
  </div>
</div>
