<div class="hero-image">
    <div class="hero-text">
        <h1>BUILD YOUR RESUME</h1>
        <h2>LAUNCH YOUR CAREER</h2>
        <div class="text-center my-3">
            <a class="btn btn-custom" href="/login">BUILD YOUR RESUME</a>
        </div>
    </div>
</div>
<section class="features p-5">
    <div class="container-fluid my-3">
        <div class="row justify-content-center">
            <div class="col-md-4 my-3">
                <div class="card">
                    <img src="/images/resume-table.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Revamped Resumes with Ease</h5>
                        <p class="card-text">Resume Rocket offers personalized and industry-approved ASCII templates
                            that users can effortlessly tailor to their liking for a standout resume that's sure to
                            impress any hiring manager.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card">
                    <img src="/images/ai-resume.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Boost Your Chances with AI Technology</h5>
                        <p class="card-text">Thanks to the power of AI, Resume Rocket generates resumes that align with
                            industry standards to improve your chances of catching the eye of recruiters and hiring
                            managers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card">
                    <img src="/images/hiring-concept.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Immediate and Insightful Guidance</h5>
                        <p class="card-text">Resume Rocket delivers prompt, real-time feedback and analysis throughout
                            the
                            resume-building process, suggesting ways to optimize your resume for maximum effectiveness.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="testimonials py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="text-center mb-5">
                <h3>What Our Users Say</h3>
            </div>
            <div class="col-md-4 my-4">
                <div class="card card-test">
                    <img src="/images/headshot-1.jpg" class="card-img-top custom-img-card" alt="...">
                    <div class="card-body card-body-test">
                        <p class="card-text card-text-test">"Resume Rocket helped me create a professional-looking
                            resume in no time.
                            The AI technology and real-time feedback made the process so much easier."</p>
                        <p class="card-text-test">- Jasmine Wright</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-4">
                <div class="card card-test">
                    <img src="/images/headshot-2.jpg" class="card-img-top custom-img-card" alt="...">
                    <div class="card-body card-body-test">
                        <p class="card-text card-text-test">"I was impressed by the resume templates offered by Resume
                            Rocket. The real-time feedback helped refine my resume to perfection."</p>
                        <p class="card-text-test">- William Anderson</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-4">
                <div class="card card-test">
                    <img src="/images/headshot-3.jpg" class="card-img-top custom-img-card" alt="...">
                    <div class="card-body card-body-test">
                        <p class="card-text card-text-test">"Resume Rocket was a game-changer for me. The AI technology
                            ensured that my
                            resume was up-to-date with the latest industry standards."</p>
                        <p class="card-text-test">- Lauren Davis</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="banner-image">
    <div class="banner-text">
        <h3>1) Provide Your Information</h3>
        <h3>2) Build Your AI Resume</h3>
        <h3>3) Launch Your Career</h3>
        <div class="text-center my-3">
            <a class="btn btn-custom" href="/login">BUILD YOUR RESUME</a>
        </div>
    </div>
</div>