<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Job Postings</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h1 class="mt-5 mb-4">Job Postings Based on Your Profile</h1>
            <p class="lead">Browse and apply for job openings that match your skills and experience.</p>
          </div>
        </div>
        <div class="row" id="jobPostings">

        </div>
      </div>
  <script src="/js/jobs.js"></script>
</body>
